.hero-button {
    background-color: transparent;
    background-image: url(img/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 60px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
    padding: 14px 65px 14px 65px;

}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: $secondary-color;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

.button-newsletter {
    margin-left: 0;
    padding: 18px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
  