// Variables ------------------------------

// Colores

$primary-color: #088178;
$secondary-color: #1a1a1a;
$catalog-header-color: #a49edb;
$background-color: #bfccda;
$special-color: rgb(179, 116, 1);

$sidebar-background-color: #f0f0f0;
$features-background-color: #a1c2e0;

// Fuente

$font-family: 'League Spartan', sans-serif;

// Tamaños letra

    // Pantallas pequeñas

$font-size-min-h1: 40px;
$font-size-min-h2: 30px;
$font-size-min-h4: 17px;
$font-size-min-p: 13px;


$font-size-mid: 14px;
$font-size-big: 20px;

// Etc

$hero-min-height: 42vh;
$banner-min-height: 22vh;